.water{
.waves
{
  width:100%;
  height:100%;
  overflow:hidden;
  position: absolute;

  .reef{
  width:100%;
  height:100%;
  overflow:hidden;
  position: absolute;
  background: url(../../images/water-reef.svg) 0 110% no-repeat;
  background-size: contain;
  z-index: 3;
  }

  .wave-group{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70%;
    -webkit-transform: translate3d(0, 0, 0);
    transition: top 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }

  &.fill-1 .wave-group{
    top: 60%;
  }
  &.fill-2 .wave-group{
    top: 50%;
  }
  &.fill-3 .wave-group{
    top: 40%;
  }
  &.fill-4 .wave-group{
    top: 30%;
  }
  &.fill-5 .wave-group{
    top: 20%;
  }
}

.wave
{
  width:calc( 100% + 4em );
  height:100%;
  position:absolute;
  left:-2em;
  background:bottom center repeat-x;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  background-size: contain;
}

/* Individual wave layers */

.wave_1
{
  animation-name:wave_1;
  animation-duration:10400ms;
  animation-delay:-9200ms;
  top:-1.0em;
  z-index:1;
  opacity:0.10;
  background-image:url(../../images/wave-1.svg);
  background-position:bottom left;
}

.wave_2
{
  animation-name:wave_2;
  animation-duration:9200ms;
  animation-delay:-7600ms;
  top:-2.0em;
  z-index:2;
  opacity:0.25;
  background-image:url(../../images/wave-2.svg);
  background-position:bottom right;
}

.wave_3
{
  animation-name:wave_3;
  animation-duration:9800ms;
  animation-delay:-9400ms;
  top:-3.0em;
  z-index:3;
  opacity:0.50;
  background-image:url(../../images/wave-3.svg);
  background-position:bottom center;
}

.wave_4
{
  animation-name:wave_4;
  animation-duration:9600ms;
  animation-delay:-8800ms;
  top:-4.0em;
  z-index:4;
  opacity:0.75;
  background-image:url(../../images/wave-4.svg);
  background-position:bottom left;
}

/* Wave animations */

@keyframes wave_1
{
  from { transform: rotate(0deg)   translatey(-0.61em) rotate(0deg)    ; }
  to   { transform: rotate(360deg) translatey(-0.61em) rotate(-360deg) ; }
}

@keyframes wave_2
{
  from { transform: rotate(0deg)   translatey(-0.77em) rotate(0deg)    ; }
  to   { transform: rotate(360deg) translatey(-0.77em) rotate(-360deg) ; }
}

@keyframes wave_3
{
  from { transform: rotate(0deg)   translatey(-0.96em) rotate(0deg)    ; }
  to   { transform: rotate(360deg) translatey(-0.96em) rotate(-360deg) ; }
}

@keyframes wave_4
{
  from { transform: rotate(0deg)   translatey(-1.2em) rotate(0deg)    ; }
  to   { transform: rotate(360deg) translatey(-1.2em) rotate(-360deg) ; }
}

@keyframes wave_5
{
  from { transform: rotate(0deg)   translatey(-1.5em) rotate(0deg)    ; }
  to   { transform: rotate(360deg) translatey(-1.5em) rotate(-360deg) ; }
}
}